/* Reset básico */
body, h1, form, label, input, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo do corpo */
body {
    background-image: url('45932677153362c32ad2fc5c0e69717ec416640aaa512dc91c4c20b247e613c2._SX1080_FMjpg_.jpg');
    font-family: Arial, sans-serif;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat;
    filter: saturate(0.3);
}

/* Container central */
.container {
    background-color: #00000050;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
}

/* Título */
h1 {
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 20px;
}

/* Formulário */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Label */
label {
    font-size: 16px;
    color: #ffffff;
}

/* Input */
input[type="text"] {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus {
    border-color: #969696;
}

/* Botão */
button {
    padding: 10px;
    font-size: 16px;
    background-color: #00000067;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #000000bb;
}

